* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  text-align: center;
  font-family: Roboto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 200px;
  background-color:#f6f6f6;
  padding: 40px;

  &__title {
    color: #3a8970;
    font-size: 60px;
    font-weight: 400;
  }

  &__icon {
    font-size: 48px;
    margin-right: 15px;
  }

  &__cnpj {
    color: #3a8970 !important;
    border-color: solid #3a8970 !important;
    border-radius: 5px !important;
    font-size: 20px !important;
    background-color: transparent !important;
    width: 300px !important;
    margin-right: 20px !important;

    &Mask {
      padding: 20px;
      border: 0px;
      background: transparent;
      width: 100%;
    }

    .MuiOutlinedInput {
      &-cssOutlinedInput {
        border-color: red;
      }

      &-notchedOutline {
        border-color: #3a8970;
        border-width: 2px;
      }
    }
    
    ::placeholder {
      color: #8a8e8e !important;
    }
  }

  &__searchbtn {
    background: #3a8970 !important;
    border-radius: 30px !important;
    color: white !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    padding: 8px 22px !important;
    font-family: Roboto !important;
  }
}

.cardList {
  display: flex;
  overflow: hidden;
  width: 100vw;
  margin: auto;

  * {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__company:not(:last-child) {
    margin-right: 20px;
  }

  &__company {
    display: inline-block;
    min-width: 250px;
    max-width: 250px;
    text-align: left;
    color: #3a8970 !important;

    h1, span {
      font-size: 16px !important;
    }

    span:not(:last-child) {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  display: flex;
  width: 100vw;
  background: linear-gradient(to right, #388669, #459A9E);
  flex: 1;
  color: white;
  font-size: 20px;
  font-weight: 100;

  &__notfound { 
    flex-direction: column;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  &__arrow {
    fill: white;
    width: 50px;
    &--right {
      transform: rotate(180deg);
    }
  }
}