.flex {
  display: flex;

  &-column {
    @extend .flex;
    flex-direction: column;

    &-center {
      @extend .flex-column;
      align-items: center;
      justify-content: center;
    }
  }
}

.position { &-relative{ position: relative; } }
