
.slider {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  overflow: hidden;

  &-button {
    font-size: 16px;
  }

  &-no-pointer-events {
    pointer-events: none;
  }
}