$color-white:       #fbf8ff;
$color-primary:     #388699;
$color-gradient1:   #3a8970;
$color-gradient2:   #459a9e;
$color-navbar:      $color-gradient1;
$color-maps-label-1:  #801411;
$color-maps-label-2:  #de4434;
$color-maps-label-3:  #c84238;
$color-maps-label-4:  #d22c28;

$default-font:       'Roboto', sans-serif;