$color-white:         #fbf8ff;
$color-grey:          #bbc4c0;
$color-grey-1:        #667470;
$color-primary:       #388699;
$color-green:         #3a8970;
$color-green-dark:    #367c66;
$color-green-darker:  #2e725d;
$color-gradient1:     #3a8970;
$color-gradient2:     #459a9e;
$color-red-1:         #801411;
$color-red-2:         #de4434;
$color-red-3:         #c84238;
$color-red-4:         #d22c28;
$color-navbar:        $color-gradient1;
$default-font:        'Roboto', sans-serif;
