@import "src/_variables";

.searchBar {
  background-color: #fff;
  height: 33vh;

  h1 {
    font-size: $titulo-regular;
    font-weight: 400;
    color: $primary-color;
    transform: translate(-51%, -114%);
    top: 50%;
    left: 50%;
    position: sticky;
    margin-bottom: 4vh;
  }
}

.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded {
  border-radius: 12px;
}

.searchLayout {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    padding: 20px 180px 20px 16px;
    border: 3px solid $primary-color;
    border-radius: 5px;
    font-size: 20px;

    &::placeholder {
      color: #8A8E8E;
      font-size: 20px;
    }
  }

  Button {
    width: 155px;
    height: 50px;
    margin-left: 25px;
    vertical-align: middle;
    border-radius: 33px 33px 33px 33px;
    background-color: $primary-color;

    span {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      padding-top: 1px;
    }
  }

  .MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
    background-color: $button-disabled;
  }
}

.slick-prev {
  left: -8%;
  font-size: $titulo-regular!important;
}

.slick-next {
  right: -8%;
  font-size: $titulo-regular!important;
}

.slick-slider {
  margin-top: 10vh;
  margin-right: 9%;
  margin-left: 9.28%;
}

.slick-slide {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 11px;
}

.MuiPaper-rounded {
  font-size: 16px;
  height: 304px;
  width: 329px!important;
}

.excluir {
  font-size: 36px !important;
  color: #fff !important;
}

.MuiPaper-root {
  box-sizing: border-box;
  padding: 45px 20px 60px 20px;

  h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
    color: #00938F;
    text-transform: capitalize;
  }

  p {
    margin: 0;
    color: #089793;
  }

  article:nth-child(1) {
    margin-top: -30px;
  }

  article {
    padding-bottom: 18px;
  }
}

.MuiToolbar-root {
  flex-direction: column;
}

.first {
  position: absolute;
  top: 61%;
  left: 43%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;

  svg {
    font-size: 48px;
  }
}

@media (max-width: 1440px) and (min-width: 1280px){
  .searchBar {
  
    h1 {
      transform: translate(-34%,-23%);

    }
  }

  .slick-slider {
    margin-top: 10vh;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .searchLayout {
    position: absolute;
    top: 90%;
    left: 29%;
  }
}

@media (max-width: 1280px) and (min-width: 769px) {
  .slick-slider {
    margin-top: 10vh;
    margin-right: 5%;
    margin-left: 5%;
  }

  .slick-next {
    right: -5%;
  }

  .slick-prev {
    left: -5%;
  }

  .searchBar {
  
    h1 {
      transform: translate(-25%,-20%);
    }
  }

  .searchLayout {
    position: absolute;
    top: 90%;
    left: 24%;
  }
}

@media (max-width: 768px) {
  .container-home {
    
    .slick-slider {
      margin-top: 0;
      margin-right: 0; 
      margin-left: 0; 

      .slick-slide {
        padding: 3.5vh;
      }

      .slick-next, .slick-prev {
        display: none;
      }
    }

    .first {
      top: 56%;
      left: 17%;
    }
  }

  .searchBar {
    height: 30vh;

    h1 {
      font-size: 27px;
      transform: translate(0%, 0%);
      top: 0%;
      left: 0%;
      margin-bottom: 2vh;
    }
  }

  .searchLayout {
    flex-direction: column;

    Button {
      width: 92vw;
      height: 7vh;
      margin-left: 0;

      span {
        font-size: 16px;
      }
    }

    input {
      margin-bottom: 3vh;
      padding: 5px 70px 5px 16px;
    }

    .MuiButton-root:hover {
      background-color: #ccc; 
    }
  }
}