
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ConsultaEmpresas-primary: mat-palette($mat-teal);
$ConsultaEmpresas-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ConsultaEmpresas-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ConsultaEmpresas-theme: mat-light-theme($ConsultaEmpresas-primary, $ConsultaEmpresas-accent, $ConsultaEmpresas-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ConsultaEmpresas-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; max-width: 100%; }

*:focus {
    outline: none;
}

.error-snackbar{
    background: #bb5c5c;
    color: #fff;
    button{
        color: #fff;
    }
}

.warn-snackbar{
    background: #d6a448;
    color: #fff;

    button{
        color: #fff;
    }
}

.success-snackbar{
    background: #46ad7a;
    color: #fff;

    button{
        color: #fff;
    }
}

.delete-snackbar{
    background: #333;
    color: #fff;

    button{
        color: #fff;
    }
}

.next, .previous{

    i{
        font-size: 50px;
        color: #fff;

    }
}
.previous.slick-disabled,
.next.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.slick-slider {
    width: 100%;
    margin: auto;
  }

.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

#close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgb(218, 218, 218);
    font-size: 25px;
    cursor: pointer;
}

#close:hover{
    color: rgb(156, 156, 156);
}

@media only screen and (max-width: 768px) {

    .error-snackbar, .warn-snackbar, .success-snackbar, .delete-snackbar{
        width: 80% !important;
        margin: 10px auto !important;
    }
    
}
