$global-font: Roboto, sans-serif;
$main-color: #3a8970;
$primary: #3c8970;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box !important;
  font-family: $global-font !important;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: $global-font !important;
  font-size: 16px !important;
}

button {
  cursor: pointer;
}

@import '~bootstrap/scss/bootstrap.scss';
