* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --cor-principal: #3a8970;
  --cor-gradiente: linear-gradient(to right, #388669, #459a9e);
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body,
input,
text area,
button {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}
