.header {
  height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 0.375rem;

  color: var(--cor-principal);

  .header__title {
    gap: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    text-align: right;

    .header__icon {
      font-size: 48px;
    }

    h1 {
      font-size: 3.75rem;
    }
  }

  .header__search {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    .btn_localizar {
      width: 12rem;
      margin-left: 14px;
      padding: 0.5rem 1.5rem;

      background: var(--cor-principal);
      border: none !important;
      border-radius: 1.5rem;

      color: var(--white);
      font-weight: bold 700;
      font-size: 1.25rem;

      transition: filter 0.2s;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  @media (max-width: 720px) {
    height: 50vh;
    .header__title {
      text-align: center;
      flex-direction: column;
    }
  }
}

.carousel {
  height: 70vh;
  background: var(--cor-gradiente);

  .carousel__card {
    margin: 0px 70px;
    border-radius: 1rem;
    padding: 0.5rem;

    h5 {
      font-size: 1rem;
      color: #39aba8;
      font-weight: bold;
    }

    h6 {
      font-size: 1rem;
      color: #28a4a1;
      margin-bottom: 1.5rem;
    }
  }
  @media (max-width: 720px) {
    display: flex;
    .carousel__card {
      margin: 0px;
      width: 100%;
      height: auto;
      align-items: center;
    }
  }
}

.img {
  height: 70vh;
  background: var(--cor-gradiente);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
