$base-color: #3a8970;
$small: 300px;
$medium: 900px;

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;

  .container-localizator {
    grid-column: 1/6;
    grid-row: 1;
    margin: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.header {
      display: flex;
      color: #3a8970;
      justify-content: center;
      align-items: center;

      p {
        font-size: 60px;
        font-weight: "regular";
      }

      svg {
        margin-right: 20px;
      }
    }

    form.input {
      padding-top: 40px;

      input {
        width: 400px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 20px;
        padding: 20px;

        &:hover,
        &:focus {
          border: 2px solid #3a8970;
        }
      }

      button {
        background-color: #3a8970;
        border: none;
        border-radius: 30px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin-left: 30px;
        padding: 15px 32px;
        text-align: center;
        transition: background-color 0.2s;

        &:hover,
        &:active {
          background-color: #4c9278;
        }
      }
    }
  }

  .container-cards {
    grid-column: 1/6;
    grid-row: 2 / 5;
    background: #459a9e;
    background: -webkit-linear-gradient(to right, #388669, #459a9e);
    background: linear-gradient(to right, #388669, #459a9e);

    display: flex;
    align-items: center;

    justify-content: center;
    .container-people-search {
      display: flex;
      align-items: center;
      flex-direction: column;

      img {
        width: 200px;
        height: 200px;
      }

      p {
        color: #fff;
      }
    }

    .BrainhubCarouselItem {
      width: 300px !important;
      max-width: 300px !important;
      min-width: 300px !important;
      margin: 20px !important;
    }

    button.BrainhubCarousel__arrows {
      background-color: transparent;
      font-size: 20px;

      &:hover {
        background-color: transparent;
      }
    }

    button.BrainhubCarousel__arrowLeft {
      margin-left: 40px !important;
    }

    button.BrainhubCarousel__arrowRight {
      margin-right: 40px !important;
    }
  }
}
