$main-color: #3a8970;

.card-main-content {
  background-color: white;
  margin: 0px 10px;
  padding: 10px 30px 20px;
  border-radius: 15px;
  min-height: 300px;
  width: 320px;
  display: block;
  text-decoration: none;
  border: none;
  text-align: initial;

  h3 {
    color: $main-color;
    font-weight: bold;
    margin: 20px 0 0 0;
  }

  span {
    color: $main-color;
    margin: 0 !important;
  }

}
