html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbf8ff;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  background: linear-gradient(90deg, #3a8970 0%, #459a9e 75%, #388699 100%);
}

.block, .item {
  margin-bottom: 1.25rem;
}

.button {
  cursor: pointer;
  background-color: #fbf8ff;
  border-color: #388699;
  border-style: solid;
  border-width: 2px;
  padding: 0.7em 1.2em;
  color: #388699;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
}
.button-back {
  margin-left: -0.5rem;
  padding: 0;
  z-index: 10;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.button-primary {
  background-color: #388699;
  color: #fbf8ff;
}
.button-pill {
  border-radius: 1.5em;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 1rem auto;
  padding-bottom: 1.25rem;
}

.item {
  display: flex;
}
.item-label {
  order: 1;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.item-content {
  order: 2;
  font-weight: 600;
}
.item-highlighted {
  background-color: #e5efea;
}

.panel {
  box-sizing: border-box;
  margin: 0 auto;
}
.panel-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}
.panel-empty-image {
  width: 200px;
  margin-top: 3.5rem;
}
.panel-empty-text {
  margin: 1.5rem;
  color: #fbf8ff;
  font-size: 1.1rem;
  font-weight: 300;
}

.title {
  font-size: 3.75em;
  font-weight: 400;
  margin: 0 8px;
}

.card {
  box-sizing: border-box;
  width: 16.25rem;
  min-width: 16.25rem;
  height: 15rem;
  max-height: 15rem;
  border-radius: 0.75rem;
  background: #fbf8ff;
  transition: opacity 1.25s;
}
.card-header {
  margin-bottom: 1.2rem;
  margin-top: 0.25rem;
}
.card-header-button {
  padding: 0;
  z-index: 10;
  height: 3.25rem;
  width: 3.25rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: all 0.1s ease;
  margin-left: -0.5rem;
}
.card-header-button:hover {
  background-color: rgba(187, 196, 192, 0.1);
}
.card-header-button:active {
  background-color: rgba(187, 196, 192, 0.2);
}
.card-header-button:focus {
  outline: unset;
  background-color: rgba(187, 196, 192, 0.1);
}
.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 1.8rem);
  padding: 1.2rem 1rem 0.6rem;
}
.card-item {
  flex-direction: column-reverse;
  color: #388699;
}

.maps-canvas {
  position: fixed !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 5;
}
.maps-card {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: unset;
  max-height: unset;
  padding-left: 0.5rem;
  margin: 0;
  border-radius: 0;
  border-bottom-right-radius: 0.75rem;
  box-shadow: 4px 5px 8px 3px rgba(0, 0, 0, 0.3);
}
.maps-label {
  position: relative;
  left: 6em;
  max-width: 10em;
  text-align: start;
  white-space: normal;
  line-height: 16px;
}

@media (max-width: 900px) {
  .maps .card {
    width: 14rem;
    max-width: unset;
    min-width: unset;
  }
  .maps .card-inner {
    flex-direction: row;
    padding: 0.25rem 0.75rem;
    align-items: center;
  }
  .maps .card-header, .maps .card-item {
    margin: 0;
  }
  .maps .card-header {
    margin-left: -0.25rem;
  }
  .maps .card-item {
    display: none;
  }
  .maps .card-priority {
    display: flex;
    margin-top: 0.25rem;
  }
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 15.2em;
  max-height: 15.2em;
  padding: 1.8em 0;
  margin-bottom: 6rem;
  color: #3a8970;
  background-color: #fbf8ff;
}
.navbar-brand {
  font-size: 0.9em;
  margin-right: 0.22em;
}
.navbar-button {
  border-color: #3a8970;
  background-color: #3a8970;
  color: #fbf8ff;
  transition: all 0.2s ease;
}
.navbar-button:hover {
  border-color: #367c66;
  background-color: #367c66;
}
.navbar-button:active {
  border-color: #2e725d;
  background-color: #2e725d;
}
.navbar-button:focus {
  outline: unset;
}
.navbar-form {
  color: #3a8970;
  border-color: #3a8970;
}

@media (max-width: 900px) {
  .navbar {
    font-size: 1.78vw;
    margin-bottom: 10vw;
  }
}
@media (max-width: 630px) {
  .navbar {
    box-sizing: content-box;
    font-size: 11px;
    max-height: unset;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 35em;
}
.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-color: inherit;
}
.form-input {
  flex-grow: 1;
  font-size: 1.25em;
  height: 3.2em;
  margin-right: 1.6em;
  padding: 0.8em;
  background-color: #fbf8ff;
  border-color: inherit;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 2px;
}
.form-input-error {
  border-color: #801411;
}
.form-input::placeholder {
  color: #bbc4c0;
}
.form-message {
  font-size: 0.75rem;
  margin: 0 0.0625rem;
  max-width: 20em;
  line-height: 1.25em;
  text-align: start;
  white-space: normal;
  color: #667470;
}
.form-message-error {
  color: #801411;
}

@media (max-width: 420px) {
  .form {
    width: 100%;
    margin: 0 8px;
  }
  .form-input {
    margin-right: 16px;
  }
}
.slider {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
.slider-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin: 0 4.5rem;
  overflow: hidden;
}
.slider-control {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
  margin: 1rem 0;
  border-radius: 0.75rem;
  background-color: transparent;
  opacity: 0.4;
  transition: all 0.2s;
}
.slider-control-left, .slider-control-right {
  position: absolute;
  top: 0;
  bottom: 0;
}
.slider-control-left {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.slider-control-right {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.slider-control:hover {
  opacity: 0.8;
}
.slider-control:hover .slider-button {
  background-color: rgba(255, 255, 255, 0.1);
}
.slider-control:hover .slider-button-left, .slider-control:hover .slider-button-right {
  width: 4rem;
}
.slider-button {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 3.75rem;
  height: 4rem;
  border-radius: 1em;
  transition: all 0.1s ease-in-out;
}
.slider-button::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 1.75rem;
  height: 1.75rem;
  margin-top: 1rem;
  padding: 0;
  color: #fbf8ff;
  border: 2px solid #fbf8ff;
  background-color: transparent;
}
.slider-button-left {
  margin-right: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.slider-button-left::after {
  align-self: flex-end;
  margin-right: 0.5rem;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
}
.slider-button-right {
  margin-left: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.slider-button-right::after {
  align-self: flex-start;
  margin-left: 0.5rem;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
}
.slider-button-left, .slider-button-right {
  transition: all 0.2s ease-in-out;
}
.slider-element {
  cursor: pointer;
  margin: 1rem;
  opacity: 1;
  transition: all 0.1s ease-out, opacity 0.3s ease-in 0.3s;
}
.slider-element:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.slider-element:active {
  transform: translateY(0);
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.slider-element-hidden {
  opacity: 0;
}
.slider-element-disabled {
  opacity: 0.3;
}
.slider-element-disabled, .slider-element-hidden {
  pointer-events: none;
}
.slider-hidden-controls .slider-control {
  display: none;
}

@media (max-width: 990px) {
  .slider-content {
    margin: 0;
  }
}
@media (max-width: 420px) {
  .slider-button-after {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.slider-list-move {
  pointer-events: none;
  transition: transform 0.6s linear, opacity 0.3s ease-in 0.3s;
}
.slider-list-enter-active, .slider-list-leave-active {
  transition: all 0.4s linear;
  pointer-events: none;
}
.slider-list-enter, .slider-list-leave-to {
  opacity: 0;
}

.flex, .flex-column, .flex-column-center {
  display: flex;
}
.flex-column, .flex-column-center {
  flex-direction: column;
}
.flex-column-center {
  align-items: center;
  justify-content: center;
}

.position-relative {
  position: relative;
}

/*# sourceMappingURL=styles.css.map */
