html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbf8ff;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.block, .item {
  margin-bottom: 1.25rem;
}

.button {
  cursor: pointer;
  background-color: #fbf8ff;
  border-color: #388699;
  border-style: solid;
  border-width: 2px;
  padding: 0.7em 1.2em;
  color: #388699;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.button-back {
  margin-left: -0.5rem;
  padding: 0;
  z-index: 10;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.button-primary {
  background-color: #388699;
  color: #fbf8ff;
}
.button-pill {
  border-radius: 1.5em;
  font-size: 19px;
}

.container {
  display: block;
  position: relative;
  max-width: 1192px;
  width: 100%;
  height: 100%;
  margin: 1rem auto;
}

.flex, .flex-column, .flex-column-center {
  display: flex;
}
.flex-column, .flex-column-center {
  flex-direction: column;
}
.flex-column-center {
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}
.form-button {
  color: inherit;
}
.form-inline {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 34rem;
  width: 100%;
}
.form-input {
  height: 3.2em;
  flex-grow: 1;
  margin-right: 1.6em;
  padding: 0.8em;
  background-color: #fbf8ff;
  border-color: inherit;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
}

.item {
  display: flex;
}
.item-label {
  order: 1;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.item-content {
  order: 2;
  font-weight: 600;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 14.7rem;
  padding: 1.8rem 0;
  color: #3a8970;
}
.navbar-brand {
  margin-right: 0.22em;
  font-size: 0.9em;
}
.navbar-button {
  border-color: #3a8970;
  background-color: #3a8970;
  color: #fbf8ff;
}
.navbar-form {
  color: #3a8970;
  border-color: #3a8970;
}

.panel {
  margin: 0 auto;
  padding: 4.5rem 1.5rem 8.2rem;
  background: linear-gradient(90deg, #3a8970 0%, #459a9e 75%, #388699 100%);
}

.position-relative {
  position: relative;
}

.title {
  font-size: 60px;
  font-weight: 400;
}

.card {
  box-sizing: border-box;
  width: 16.25rem;
  min-width: 16.25rem;
  max-height: 15rem;
  border-radius: 0.75rem;
  background: #fbf8ff;
  transition: opacity 1.25s;
}
.card-active {
  opacity: 1;
}
.card-header {
  margin-bottom: 1.2rem;
  margin-top: 0.25rem;
}
.card-header-button {
  padding: 0;
  z-index: 10;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.card-header-left {
  margin-left: -0.5rem;
}
.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 1.8rem);
  padding: 1.2rem 1rem 0.6rem;
}
.card-item {
  flex-direction: column-reverse;
  color: #388699;
}

.maps-canvas {
  position: fixed !important;
  width: 100%;
  /*height: calc(100% - 14.8rem);*/
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 5;
}
.maps-card {
  position: absolute;
  left: 0;
  top: 0;
  max-height: unset;
  padding-left: 0.5rem;
  margin: 0;
  border-radius: 0;
  border-bottom-right-radius: 0.75rem;
  box-shadow: 4px 5px 8px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.maps-label {
  position: relative;
  left: 6em;
  /* top: 8px; */
  max-width: 10em;
  text-align: start;
  white-space: normal;
  line-height: 16px;
}

.slider {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.slider-button {
  font-size: 16px;
}
.slider-element {
  cursor: pointer;
  margin: 1rem;
}
.slider-element-active {
  opacity: 1;
}
.slider-element-hidden {
  opacity: 0;
}
.slider-element-inactive {
  opacity: 0.8;
}
.slider-element-inactive::hover {
  opacity: 0.6;
}
.slider-no-pointer-events {
  pointer-events: none;
}

.slider-list-move {
  transition: transform 0.8s ease, opacity 0.6s ease 0.8s;
}
.slider-list-enter-active, .slider-list-leave-active {
  transition: all 1s;
  pointer-events: none;
}
.slider-list-enter, .slider-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

/*# sourceMappingURL=styles.css.map */
