@import '../../../assets/utils.scss';

.company-card {

    background: #fff;
    border-radius: 15px;
    padding: 30px;
    min-width: auto;
    min-height: 250px;

    .company-info{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        color: $primary-color;
        font-size: $card-text-size;


    }

    .action-btn{
        font-size: 15px;
        width: 80%;
        padding: .2rem 0;
        position: absolute;
        bottom: 1rem;
        left: 10%
    }

}

@media only screen and (max-width: 768px) {

    .company-card{
        min-width: auto;
    }
    
}


@media only screen and (max-width: 1024px) and (max-width: 1366) {

    .company-card{
        min-width: auto;
    }
    
}

