
 <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">


            <mat-card ngxSlickItem *ngFor="let company of companies; let i = index" class="company-card slide">
                        
                <div id="close" (click)="onDeleteCompany(company)">&times;</div>

                <mat-card-content>
                    <div class="company-info">
                        <span class="bold">{{company?.nome | titlecase}}</span>
                        <span>Nome</span>
                    </div>
                    <div class="company-info">
                        <span class="bold">{{company?.cnpj}}</span>
                        <span>CNPJ</span>
                    </div>
                    <div class="company-info">
                        <span class="bold">{{company?.logradouro | titlecase}}&nbsp;{{company?.bairro | titlecase}}&nbsp;{{company?.municipio | titlecase}}-{{company?.uf | uppercase}}</span>
                        <span>Endereço</span>
                    </div>
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-flat-button class="action-btn" (click)="onShowMap(company)" [disabled]="!company.logradouro">{{ company?.logradouro ? 'VER NO MAPA' : 'MAPA INDISPONÍVEL' }}</button>
                </mat-card-actions>

            </mat-card>


</ngx-slick-carousel>


