@import "../../../assets/utils.scss";

.wrapper {
    height: 100%;
    width: 100%;
}

.search-wrapper {
    @include flex-center-column;
    background: #fff;
    height: 33vh;

    .action-btn {
        margin-left: 2rem;
    }
    mat-form-field {
        font-size: 16px;
        width: 350px;
    }
    .row{
        @include flex-center-row;
    }
}

.results-wrapper {
    @include flex-center-row;
    @include bg-gradient;
    height: 67vh;
    width: 100%;

    mat-card{
        margin-right: 20px;
    }
}

.companies{
    @include flex-center-row;
}

.results-wrapper mat-card:last-of-type{
    margin: 0;
}

.company-results{
    @include flex-center-row;
    margin-top: -5rem;
}

.no-results {
    @include flex-center-column;
    margin-top: -5rem;
    img {
        height: 250px;
    }
    span {
        font-size: $regular-text-size;
        font-weight: 300;
        color: #fff;
    }
}

.search-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    mat-hint{
        color: tomato;
    }

    .error{
        
    }
}

.title {
    @include flex-center-row;
}

.title {
    color: $primary-color;
    margin-bottom: 3rem;

    i {
        font-size: 50px;
    }
    span {
        font-size: $title-size;
        margin-left: 1rem;
    }
}
.left-arrow, .right-arrow{
    color: #fff;
    font-size: 50px;
}
.right-arrow{
    margin-left: 2rem;
}
.left-arrow{
    margin-right: 2rem;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline, .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $primary-color;
}

.company-card {

    background: #fff;
    border-radius: 15px;
    padding: 2rem;
    min-width: 280px;
    max-width: 280px;
    min-height: 250px;

    .company-info{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        color: $primary-color;
        font-size: $card-text-size;

    }

    .action-btn{
        font-size: 15px;
        width: 80%;
        padding: .2rem 0;
        position: absolute;
        bottom: 1rem;
        left: 10%
    }

  

}
.company-results{
    max-width: 80%;
    display: flex;

}

app-carousel{
    width: 70%;
}

// drag-scroll{
//     height: 350px;
//     width: 100%;
// }

// ::ng-deep .drag-scroll-wrapper, .drag-scroll-container{
//     height: auto !important;
//     overflow: hidden !important;
// }

@media only screen and (max-width: 768px) {
    
    .title {
        margin-bottom: 1.5rem;
        i {
            font-size: 30px;
        }
        span {
            font-size: $title-size-mobile;
            margin-left: 1rem;
        }
    }

    .search-wrapper {
        .action-btn {
            margin-left: 1rem;
            font-size: $button-text-size-mobile;
            padding: .2rem 1.5rem;
        }
        mat-form-field {
            font-size: 14px;
            width: 100%;
        }
    }

    .no-results {
        margin-top: -5rem;
        img {
            height: 200px;
        }
        span {
            font-size: $regular-text-size-mobile;
        }
    }

    .company-results{
        margin-top: -5rem;
        flex: none;
        
    }

    
    .company-card {

        padding: 1rem;
    
        .company-info{
            font-size: $card-text-size-mobile;
        }
    
        .action-btn{
            font-size: 12px;
            width: 100%;
            margin-top: 1rem;
            padding: .2rem 0;
        }
    
    }

}