<div class="wrapper">


    <div class="search-wrapper">

        <div class="title">
            <i class="fas fa-building"></i>
            <span>Localizador de Empresas</span>
        </div>

        <div class="search-input">

            <div class="row">

                <form [formGroup]="formCnpj">
                        <mat-form-field appearance="outline">
                            <mat-label>CNPJ</mat-label>
                            <input type="search" matInput mask="00.000.000/0000-00" formControlName="cnpj">
                        </mat-form-field>
                </form>

                <button mat-flat-button class="action-btn" (click)="searchCompany()">LOCALIZAR</button>

            </div>

        </div>

    </div>

    <div class="results-wrapper">

        <app-carousel 
        *ngIf="companies.length > 0 ; else noResults"
        [companies]="this.companies" 
        (showMap)="showMap($event)"
        (deleteCompany)="deleteCompany($event)"
        ></app-carousel>
    
        <ng-template #noResults>

            <div class="no-results">

                <img src="../../../assets/icons8-search-500.png">
                <span>Localize acima a primeira empresa</span>

            </div>

        </ng-template>

    </div>

</div>