$small: 600px;

.rec {
  .rec-item-wrapper {
    width: 340px;
  }
  .rec-pagination {
    display: none;
  }

  .rec-arrow-left {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    margin-left: 40px;
    font-size: 32px;

    &:hover {
      border: none !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }

    &:enabled {
      border: none !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }

  @media screen and (max-width: $small) {
    .rec-arrow-left {
      margin-left: 0px;
    }

    .rec-arrow-right {
      margin-right: 0px !important;
    }
  }

  .rec-arrow-right {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    margin-right: 40px;
    font-size: 32px;

    &:hover {
      border: none !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }

    &:enabled {
      border: none !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
}
