@import './variables.scss';

html, body, form{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

button:focus {outline:0;}

.flex-conteiner{
    display: flex;
    flex-direction: column;
    height: 100vh;

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg-gray;
        padding-bottom: 1.5rem;

        h1{
            display: flex;
            align-items: center;
            margin: 1rem 0 3rem 0;
            font-size: 3.75rem;
            font-weight: 400;
            color: #3a8970;

            svg,i{
                font-size: 3rem;
                margin-right: .7rem;
            }
        }

        .error{
            font-size: .7rem;
            color: red;
            margin-top: 5px;
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 30%;            

            .content{
                width: 100%;
            }            

            input{
                width: 60%;
                height: 50px;
                font-size: 15px;
                border: 2px solid #3a8970;
                border-radius: 3px;
                padding: 10px;
                box-sizing: border-box;
                background-color: $bg-gray;
                margin-right: 20px;
            }

            input:hover,
            input:focus{
                border-color: #3a8970 !important;
                outline: 2px;
            }

            button{
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                background-color: #3a8970;
                color: white;
                border: none;
                border-radius: 50px;
                padding: 10px 25px;
                box-sizing: border-box;
                cursor: pointer;
            }
        
            button:hover {background-color: #459a9e}
            button:focus {outline:0;}
        }
    }

    section{
        background: $bg-list;
        height: 100vh;
        justify-content: center;
        justify-items: center;
        display: flex;
        flex-direction: row;

        .allItem{
            margin-top: 6rem;
            display: flex;
            flex-direction: row;
            width: 80%;

            .card{
                align-items: center;    
                border-radius: 10px;
                width: 90%;
                min-height: 290px;

                .card-body{
                    width: 100%;
                    display: flex;
                    align-items: center;
                }

                a{
                    text-decoration: none;
                }

                h5{
                   font-size: 16px;
                   font-weight: bold;
                   color: #3a8970;
                   margin-bottom: .2em;
                }

                p{
                   font-size: 16px;
                   color: #3a8970;
                   margin-bottom: 2.5em;
                }
            }
        }
    }
}

.box-address{
    position: absolute;
    z-index: 1;
    background: white;
    padding: 40px 30px;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #ccc;
    max-width: 16%;

    i, svg{
        margin-bottom: 20px;
    }

    h5{
        font-size: 16px;
        font-weight: bold;
        color: #3a8970;
        margin-bottom: .2em;
    }

    p{
        font-size: 16px;
        color: #3a8970;
        margin-bottom: 2.5em;
    }

    .removeMarginBottom{
        margin-bottom: 0em !important;
    }
}


@media (max-width: 1480px) {
    .flex-conteiner header form{
        max-width: 40%;
    }
}

@media (max-width: 1090px) {
    .flex-conteiner header form{
        max-width: 50%;
    }
}

@media (max-width: 980px) {    
    .flex-conteiner header form{
        max-width: 60%;
    }
}

@media (max-width: 780px) {
    .flex-conteiner header{
        min-height: auto;
    }

    .flex-conteiner header h1{
        text-align: center;
        font-size: 2rem;
    }

    .flex-conteiner header form{
        padding: 1rem;
        box-sizing: border-box;
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .flex-conteiner header{
        min-height: auto;
    }
    .flex-conteiner header h1{
        margin: 1rem 2rem;
        text-align: center;
        font-size: 2rem;
    }

    .flex-conteiner section .allItem{
        width: 100%;
    }

    .flex-conteiner header h1 svg{
        font-size: 1.5rem !important;
    }

    .flex-conteiner header form{
        max-width: 100%;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
    }

    .flex-conteiner header form input{
        margin-right: 0px;
        width: 100%;
    }

    .flex-conteiner header form button{
        margin-top: .4rem;
        padding: 15px 25px;
        width: 100%;
    }


    .box-address{
        padding: 20px 15px;
        max-width: 40%;
    }

    .box-address h5{
        font-size: 12px;
    }

    .box-address p{
        font-size: 12px;
        margin-bottom: .5em;
    }
}