// Global Variables

// Fonts

$default-font: 'Roboto', sans-serif;
$text-title-size: 60px;
$text-default-size: 20px;
$text-card-size: 16px;
$text-buttom-size: 20px;
$text-buttom-weight: bold;

// Colors

$main-color: #3a8970;
$gradient-default: linear-gradient(to right, #388669, #459A9E);
$rgba-main-color: rgba(58,137,112, 0.5);